<section class="vh-100">
    <div class="container-fluid" style="padding: 55px;">
      
        <h2>{{titulo}}</h2>
        <h3>SELECCIONE UNA CONOV</h3>
        <div>
            <select class="form-control">
                <option>-Select</option>
                <option>-Convocatoria</option>
            </select>
        </div>
    

    <h2>LISTA DE SOLICITUDES</h2>
        <form>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Fecha Emisión</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Aceptar</th>
                    <th scope="col">Denegar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>20-May-2022</td>
                    <td>Vanegas</td>
                    <td>Karen</td>
                    <td><a class="btn btn-primary btn-xs">Aceptar</a></td>
					<td><a class="btn btn-danger btn-xs" >Denegar</a></td>
                  </tr>
                 
                </tbody>
              </table>
        </form>

    </div>
</section>