<section class="vh-100" style="padding: 55px;">
  <mat-card>
    <mat-card-title style="background-color:#1d3557; color:white; padding: 33px; border-radius: 5px">
      Designar Tutor Academico
    </mat-card-title>

    <form>


    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Persona" aria-label="Search">


      <table class="table table-striped">
        <thead style="background-color: #1d3557; color: white; font-size:20px;">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Nombres</th>
          <th scope="col">---</th>
        </tr>
        </thead>
        <tbody style="font-size:20px;">
        <tr>
          <td>0106237142</td>
          <td>Vanegas</td>
          <td>Karen</td>
          <td><a class="btn btn-danger" style="background-color:#1d3557; color:white;">Asignar</a></td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-warning">Asignar</button>
    </form>
  </mat-card>


</section>
