<section class="vh-100">
  <div class="container-fluid" style="padding: 55px;">
    <mat-card-title style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
      Consultras y Reportes Practicas PP
    </mat-card-title>
    <mat-card>
      <h2 style="color: #1d3557;">Consultas</h2>

      <div>
        <select class="form-control">
          <option>Seleccione una opción</option>
          <option>Empresa</option>
          <option>Estudiante</option>
          <option>Tutor</option>
        </select>
      </div>
      <br><br>
      <h2 style="color: #1d3557;">Consultas</h2>
      <form>
        <h3>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Cedula</th>
              <th scope="col">Apellido</th>
              <th scope="col">Nombres</th>
              <th scope="col">Paralelo</th>
              <th scope="col">Estado</th>
              <th scope="col">Proyecto</th>
            </tr>
            </thead>
            <tbody >
            <tr>
              <td> 0106237142</td>
              <td>Ortiz Villalta</td>
              <td> Giselle Ximena</td>
              <td>M5B</td>
              <td>Aprobado</td>
              <td>Fundacion Las Vacas</td>
            </tr>
            </tbody>
          </table>
        </h3>
      </form>
    </mat-card>

  </div>
</section>
