
<mat-card id="CardP">
  <mat-card-title style="background-color:#1d3557; color:white; padding: 33px; border-radius: 5px">
    Practicas Pre-Profecionales | Consultas
  </mat-card-title>
  

  <mat-card-content>
    <p-orderList [value]="convocatorias" [listStyle]="{'max-height':'30rem'}" header="Lista" filterBy="idConvocatoria" filterPlaceholder="Busqueda por el numero de convocatoria" [dragdrop]="true">
      <ng-template let-conv pTemplate="item">
          <div class="product-item">
              <div class="image-container">
                      <img src="../assets/imagen/log.png" [alt]="conv.nombreConvocatoria" class="product-image" />
              </div>
              <div class="product-list-detail">
                  <h5 class="mb-2">{{conv.nombreConvocatoria}}</h5>
                  <h5 class="mb-2">Carrera: {{conv.solicitudEmpresa.carrera.nombre}}</h5>
                  <i class="pi pi-user product-category-icon"></i>
                  <span class="product-category"> {{conv.solicitudEmpresa.responsablePPP.docente.persona.primerNombre}} {{conv.solicitudEmpresa.responsablePPP.docente.persona.segundoNombre}} {{conv.solicitudEmpresa.responsablePPP.docente.persona.primerApellido}} {{conv.solicitudEmpresa.responsablePPP.docente.persona.segundoApellido}}</span>
              </div>
              <div class="product-list-action">
                  <h6 class="mb-2">Número de convocatoria:{{conv.idConvocatoria}}</h6>
                  <span class="product-category" style="width: 100px;" *ngIf="conv.solicitudEmpresa.estado == false">
                    
                    <p-message severity="error" text="Pendiente"></p-message>

                  </span>
                  <span class="product-category" style="width: 100px;" *ngIf="conv.solicitudEmpresa.estado == true">
                    
                    <p-message severity="success" text="Aprobado"></p-message>

                  </span>
              </div>
          </div>
      </ng-template>
  </p-orderList>
  </mat-card-content>
</mat-card>
