<section class="vh-100">
  <mat-card id="CardP">
    <mat-card-title style="background-color:#1d3557; color:white; padding: 33px; border-radius: 5px">
      Consultas de PPP
    </mat-card-title>
    <h2>Convocatorias </h2>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar convocatoria" aria-label="Search">
  </mat-card>
  <br>
  <form>
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Nombre del Proyecto:</mat-card-title>
          <mat-card-subtitle><strong>Responsable: </strong></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Carrera: </strong></p>
          <p><strong>Número de Convocatoria: </strong></p>
          <p><strong>Entidad: </strong></p>
          <p><strong>Estado: </strong></p>
          <p><strong>Estudiantes Asignados:</strong></p>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</section>
