<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../assets/imagen/port.jpeg"
            class="img-fluid" alt="Portada">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="background-color: white;">
          <form>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Inicio de Sesión</p>
            </div>
  
            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control form-control-lg"
                placeholder="Ingrese un correo valido" />
              <label class="form-label" for="email">Correo electrónico</label>
            </div>
  
            <div class="form-outline mb-3">
              <input type="password" id="pass" class="form-control form-control-lg"
                placeholder="Ingrese su contraseña" />
              <label class="form-label" for="pass">Contraseña</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="recordar" />
                <label class="form-check-label" for="recordar">
                  Recuerdame
                </label>
              </div>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </section>
