<div class="container text-center">
    <br><br>
    <h1>Practicas Pre-Profecionales</h1>
    <img alt="LogotipoISTA" src="https://pbs.twimg.com/profile_images/928263014431719424/sV7-AlCl_400x400.jpg"/>
    <button (click)="generate(nombre)">Generate document</button>
    <div class="container" >
        <h1>CARRERAS</h1>
       
            <div class="row justify-content-center" >
                <div class="card p-3 m-4 col-sm-4" *ngFor="let carrera of carreras">
                        <h4 class="carrera-titulo">{{carrera.nombre}}</h4>
                        <p class="carrera-body">{{carrera.modalidad}}</p>
                </div>
            </div>
            

    </div>
</div>
  
