<section class="vh-100">
  <div class="container-fluid" style="padding: 55px;">
    <mat-card-title>
      Informe Final Tutor Academico
    </mat-card-title>

    <mat-card>
      <h2 style="color: #000000; text-align:center;">
        Calificaciones de Tutores Academico y Empresarial
      </h2>


      <form>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Evaluado por</th>
            <th> Nota Obtenida</th>
            <th> Porcentaje que representa</th>
            <th> Nota Acreditada</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Tutor Académico</td>
            <td>Nota/100</td>
            <td>40%</td>
            <td>Nota/40</td>
          </tr>
          <tr>
            <td>Tutor Empresarial</td>
            <td>Nota/100</td>
            <td>60%</td>
            <td>Nota/60</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>PUNTAJE FINAL</td>
            <td>Nota/100</td>
          </tr>


          </tbody>
        </table>
        <div style="text-align:center">
          <button type="submit" mat-raised-button color="primary" [disabled]="">GUARDAR</button>
        </div>
      </form>
    </mat-card>
  </div>
</section>
