
  <section class="vh-100" style="padding: 55px;">
    <mat-card >
      <mat-card-title style="background-color:#1d3557; color:white; padding: 33px; border-radius: 5px;">
        Registro de Empresa
      </mat-card-title>
      <div class="container-fluid" >
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre Empresa:</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese el nombre de la empresa">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Gerente</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese el nombre del gerente">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Visión</label>
          <input type="text" class="form-control" id="inputAddress"  placeholder="Ingrese la visión de la empresa">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Misión</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Ingrese la misión de la empresa" >
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Telefono</label>
            <input type="text" class="form-control" id="inputCity" placeholder="123456789">
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Direccion</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Apartamento, ciudad y provincia">
          </div>
        </div>
        <br><br>
        <div class="row text-center">
          <div class="col">
            <button type="submit" class="btn btn-primary">Registrar Empresa</button>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-danger">Regresar</button>
          </div>
        </div>
        
      </form>

    </div>
    </mat-card>
    
    
</section>



  
