<mat-toolbar style="background-color:#1d3557;">
  <div class="container">
    <mat-icon>menu</mat-icon>
  </div>
  INSTITUTO TEGNOLOGICO SUPERIOR DEL AZUAY
</mat-toolbar>
<mat-sidenav-container>
  
  <mat-sidenav mode="side" opened>

    <div style="text-align: center;">
      <img class="avatar mat-elevation-z8 text-center" src="../assets/imagen/log.png">
      <br><br>
      <mat-divider></mat-divider>
      <h2 class="text-center">Menú</h2>     
    </div>

    <mat-divider></mat-divider>
    <a class="nav-link" routerLink="/home" style="color: white;"><mat-icon>start</mat-icon><span>Inicio</span></a>
    

    <a class="nav-link" routerLink="/registro-empresa" style="color: white;"><mat-icon>home</mat-icon><span>Gestión de empresa</span></a>
    
    <a class="nav-link" routerLink="/" style="color: white;">
      <mat-icon>auto_stories</mat-icon>
      <span>Gestión de Catálogos </span>
    </a>
    
    <a class="nav-link" routerLink="/" style="color: white;">
      <mat-icon>supervisor_account</mat-icon>
      <span>Gestión de Cursos </span>
    </a>

    <a class="nav-link" routerLink="/" style="color: white;">
      <mat-icon>assignment</mat-icon>
      <span>Gestión de Inscripciones </span>
    </a>

    <a class="nav-link" routerLink="/" style="color: white;">
      <mat-icon>description</mat-icon>
      <span>Gestión de Matrículas </span>
    </a>

    <a class="nav-link" routerLink="/" style="color: white;">
      <mat-icon>receipt</mat-icon>
    <span>Gestión de Contratos </span>
    </a>

    <a class="nav-link" routerLink="/seleccion-estudiantes" style="color: white;">
      <mat-icon>person_pin</mat-icon>
    <span>Gestión Estudiantes </span>
    </a>

    <a class="nav-link" routerLink="/" style="color: white;">
      <mat-icon>speaker_notes</mat-icon>
    <span>Gestión de Caso </span>
    </a>
      
    <a class="nav-link" routerLink="/registro-docente" style="color: white;">
      <mat-icon>perm_identity</mat-icon>
    <span>Gestión de Docentes </span>
    </a>

  </mat-sidenav>

  <mat-sidenav-content>
    
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <div class="footer text-center" style="height: 111px; background-color: #1d3557; color:white; display: flex; align-items: center;">
  
      <div class="container">
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <p>Copyright © 2022. Todos los derechos reservados.</p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

