mat-toolbar {
    background: #1177d1 ;
    color:white;
  }
  mat-sidenav{
    margin: 0;
    width: 250px;
    border-right:none;
    background: #5F9EA0;
    color:white;
    border-radius: 0;
    padding: 10px;
    text-align:initial;
  }

  .logo{
    margin: auto;
    height: 50px;
  }

  mat-icon{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }


  .content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:#1177d1;
    border-radius: 9px;

  }

  mat-sidenav-container{
  height: calc(100vh - 65px);
  }


  .menu-button {
    width: 100%;
    display: flex;
    align-items: initial;
    justify-content: initial;
    font-size: 1rem;
    color:white;
    background: #1177d1;

  }
