<section class="vh-100">
  <mat-card id="CardP">
    <mat-card-title style="background-color:#1d3557; color:white; padding: 33px; border-radius: 5px">
      Anexos de Prácticas Pre-Profesionales
    </mat-card-title>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Anexo" aria-label="Search">
  </mat-card>
  <br>

  <div class="card">
    <h5 class="card-header">Anexo 1</h5>
    <div class="card-body">
      <h3> Nombre:
      <h5 class="card-title">Solicitud emitida por entidad receptora </h5>
      </h3>
      <h3>Pertenece:
      <p class="card-text"> Gestión Empresa</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Anexo 2</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Convocatoria a prácticas pre profesionales  </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Responsable PPP</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Anexo 3</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Solicitud Estudiantes </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Estudiante</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>


  <div class="card">
    <h5 class="card-header">Anexo 4</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Selección de Estudiantes</h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Responsable de PPP</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Anexo 5</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Designacion del  tutor empresarial </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Gestión Empresa</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Anexo 6</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Designación Tutor Académico </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Responsable PPP</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Anexo 7</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Acta de reunión </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Responsable PPP</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Anexo 8</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Acta de reunión </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Responsable PPP</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 8.1</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Notificación de cronograma y planificación de actividades a tutor académico </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Responsable PPP</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 9</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Registro de Asistencia de Estudiantes </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Estudiante</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 10</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Seguimiento a Cronograma </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Tutor Académico</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 11</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Registro de visitas a la empresa </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Tutor Académico</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 12</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Rúbrica de Evaluación</h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Gestión Empresa</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 12.1 </h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Certificado Empresa Receptora </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Gestión Empresa</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 13</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Informe de Cumplimiento de Actividades </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Estudiante</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 14</h5>
    <div class="card-body">

      <h3> Nombre:
        <h5 class="card-title">Rúbrica de Evaluación (Tutor Académico) </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Tutor Académico</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Anexo 15</h5>
    <div class="card-body">
      <h3> Nombre:
        <h5 class="card-title">Informe final (Tutor Académico) </h5>
      </h3>
      <h3>Pertenece:
        <p class="card-text"> Tutor Académico</p>
      </h3>
      <button type="button" class="btn btn-warning">Descargar</button>
    </div>
  </div>

</section>
