<!--Section de barra de título-->
<section>

  <mat-card>

    <mat-card-title style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
      REGISTRO DE ASISTENCIA
    </mat-card-title>

  </mat-card>

</section>


<!--Section para ver si esta apto para aplicar a las actividades-->
<section>
  <mat-card>
    <mat-card-content>


      <body *ngFor="let lista of listaAnexo9Datos">


        <!--Esta Aprobado-->
        <div *ngIf="lista.cedula_a==cedulaAlumno ; else noAprobado">

          <body *ngFor="let registro of listaRegistroActividades">

           
            <!--Si el estudiante ya inicio con sus actividades-->
            <div *ngIf="lista.id_alumno == registro.alumno.idAlumno; else registrarModulo">
              <h2>Aqui andamos</h2>
              <h4>tfgyhu</h4>
            </div>

            <!--Si el estudiante ingresa por primera vez-->
            <ng-template #registrarModulo>
              <h2> No me crearon</h2>
            </ng-template>
          

          </body>

        </div>


        <!--No esta aprobado-->
        <ng-template #noAprobado>
          <br><br><br><br><br>
          <h2 style="color: #1d3557; text-align: center;"> ESTIMADO ESTUDIANTE, AL MOMENTO USTED NO TIENE HABILITADO
            ESTA SECCION </h2>
          <br><br><br><br><br>
          <br><br><br><br><br>
        </ng-template>


      </body>


    </mat-card-content>
  </mat-card>
</section>















<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<section>
  <div>
    <mat-card>

      <mat-card>


        <!--Bloque para informacion general-->
        <h2 style="color: #1d3557;">DATOS GENERALES DE LA EMPRESA / INSTITUCIÓN</h2>
        <div class="container-fluid">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPassword4">Dato:</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Dato" [disabled]="true">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Dato:</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Dato" [disabled]="true">
            </div>
          </div>
        </div>

      </mat-card>



    </mat-card>
  </div>
</section>