


<section class="vh-100" style="padding: 60px;">
<mat-card>
    <mat-card-title style="background-color:#1d3557; color:white; padding: 35px; border-radius: 6px;">
      <h1>Registro de Docente/Responsable PPP</h1>
    </mat-card-title>
    <div class="container-fluid" >
  <form>

      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-card-subtitle>
          <label for="inputEmail4">Nombres</label>

          <input type="text" class="form-control" id="inputEmail4" placeholder="Nombres"
          maxlength="50" required pattern="[A-Za-z]" >
        </mat-card-subtitle>
        </div>

        <div class="form-row"></div>
        <div class="form-group col-md-6">
        <mat-card-subtitle>
          <label for="inputEmail4">Apellidos</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Apellidos"
          maxlength="50" required pattern="[A-Za-z]">
        </mat-card-subtitle>
        </div>
        <div class="form-row"></div>
        <div class="form-group col-md-6">
        <mat-card-subtitle>
          <label for="inputEmail4">Cedula</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Cedula"
          maxlength="10" required pattern="[0-9]">
        </mat-card-subtitle>
        </div>
        <div class="form-row"></div>
        <div class="form-group col-md-6">
        <mat-card-subtitle>
          <label for="inputEmail4">Fecha de Nacimiento </label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Fecha de Nacimiento" maxlength="10">
        </mat-card-subtitle>
        </div>
        <div class="form-row"></div>
          <div class="form-group col-md-6">
          <mat-card-subtitle>
            <label for="inputCity">Telefono</label>
            <input type="text" class="form-control" id="Telefono" placeholder="Telefono"
            maxlength="10" required pattern="[0-9]">
          </mat-card-subtitle>
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
      <mat-card-subtitle>
        <label for="inputAddress">Correo</label>
        <input type="text" class="form-control" id="Correo"placeholder="Correo" maxlength="50">
      </mat-card-subtitle>
      </div>

      <div class="form-group">
        <mat-card-subtitle>
        <label for="inputAddress2">Direccion</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
        maxlength="70" required pattern="[A-Za-z0-9]">
        </mat-card-subtitle>
      </div>

      <div class="form-group col-md-6">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <mat-card-subtitle>
           <label>
             Registrar
           </label>
          </mat-card-subtitle>
        </div>
      </div>
      <mat-card-actions>
      <button type="submit" class="btn btn-primary">Registrar Docente</button>
    </mat-card-actions>
      </div>
    <div>
      <div class="col">
        <mat-card-actions>
          <button type="submit" class="btn" [routerLink]="['/acta-reunion']">Docentes</button>
        </mat-card-actions>
      </div>
  </form>

    </div>

</mat-card>
</section>
